# ------------------------------------------------------------------------------
# Docker Install
#
# Purpose:
#   - Check if Docker is installed
#   - Install Docker if required
#   - Ensure Docker service is started and enabled
# ------------------------------------------------------------------------------

- name: Check if Docker is installed
  ansible.builtin.command: docker --version
  register: docker_check
  ignore_errors: true
  changed_when: false

- name: Install Docker if missing
  block:
    - name: Add Docker GPG apt key
      ansible.builtin.apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker repository
      ansible.builtin.apt_repository:
        repo: "deb https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
        state: present

    - name: Install Docker packages and dependancies
      ansible.builtin.apt:
        update_cache: yes
        state: latest
        name:
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-compose-plugin

    - name: Ensure Docker service is running
      ansible.builtin.service:
        name: docker
        state: started
        enabled: true
  when: docker_check.rc != 0
